<a routerLink = '/'> + Home</a>
<h2>
  Update Product
</h2>

<p *ngIf = "!exist">
  Product doesn't exist
</p>

<form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "updateProduct(productData.value)">
  <label>Code (unique): </label><input type = "text" name="codeid" id="codeid" [(ngModel)] = "data.codeid "placeholder="Enter Code (unique)" ngModel><br>
  <label>First Name: </label><input type = "text" name="fname" id="fname" [(ngModel)] = "data.fname" placeholder="Enter First Name" ngModel><br>
  <label>Last Name: </label><input type = "text" name="lname" id="lname" [(ngModel)] = "data.lname" placeholder="Enter Last Name" ngModel><br>
  <label>DOB: </label><input type = "date" name="dob" id="dob" [(ngModel)] = "data.dob" ngModel><br>
  <label>Username: </label><input type = "text" name="username" id="username" [(ngModel)] = "data.username" placeholder="Enter Username" ngModel><br>
  <label>Password: </label><input type = "text" name="password" id="password" [(ngModel)] = "data.password" placeholder="Enter Password" ngModel><br>
  <input type="submit" value = "Update Product">
</form>

