<a routerLink = "/"> < back </a>

<h2>
  Add New Student
</h2>

<form id = "formNewProduct" name = "formNewProduct" #productData = "ngForm" (ngSubmit) = "addNewProduct(productData.value)">
  <label>Code (unique): </label><input type = "text" name="name" id="" placeholder="Enter Code (unique)" ngModel><br>
  <label>First Name: </label><input type = "text" name="name" id="" placeholder="Enter First Name" ngModel><br>
  <label>Last Name: </label><input type = "text" name="name" id="" placeholder="Enter Last Name" ngModel><br>
  <label>DOB: </label><input type = "date" name="name" id="" ngModel><br>
  <label>Username: </label><input type = "text" name="name" id="" placeholder="Enter Username" ngModel><br>
  <label>Password: </label><input type = "text" name="color" id="color" placeholder="Enter Password" ngModel><br>
  <input type="submit" value = "Add Student">
</form>

<br>
<h3 *ngIf = "isAdded" >{{confirmationString}}</h3>
